<div class="slider-cont">
  <div class="slider-price">
    <div class="slider-price__min"></div>
    <div class="slider-price__max"></div>
  </div>
  <div class="slider-range"></div>
</div>
<div class="filter">
  <div class="filter__top">
    <div class="filter__title active js-filter-title">Цвет механизма</div>
  </div>
  <div class="filter__body active">
    <div class="filter-grid">
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox1">
        <label class="filter__label" for="checkbox1">Красный</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox2">
        <label class="filter__label" for="checkbox2">Белый</label>
      </div>
    </div>
  </div>
</div>
<div class="filter">
  <div class="filter__top">
    <div class="filter__title active js-filter-title">Тип механизма</div>
  </div>
  <div class="filter__body active">
    <div class="filter-grid">
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox3">
        <label class="filter__label" for="checkbox3">Выключатели</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox4">
        <label class="filter__label" for="checkbox4">Выключатель + розетка</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox5">
        <label class="filter__label" for="checkbox5">Коробки монтажные</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox6">
        <label class="filter__label" for="checkbox6">Розетки компьютерные</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox7">
        <label class="filter__label" for="checkbox7">Розетки телефон + компьютер</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox8">
        <label class="filter__label" for="checkbox8">Розетки телефонные</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox9">
        <label class="filter__label" for="checkbox9">Розетки электрические</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox10">
        <label class="filter__label" for="checkbox10">Светорегуляторы</label>
      </div>
    </div>
  </div>
</div>
<div class="filter">
  <div class="filter__top">
    <div class="filter__title js-filter-title">Материал</div>
  </div>
  <div class="filter__body">
    <div class="filter-grid">
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox11">
        <label class="filter__label" for="checkbox11">Металл</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox12">
        <label class="filter__label" for="checkbox12">Стекло</label>
      </div>
      <div class="filter-grid__item">
        <input type="checkbox" class="filter__check" id="checkbox13">
        <label class="filter__label" for="checkbox13">Пластик</label>
      </div>
    </div>
  </div>
</div>
<div class="filter-clear">
  <a href="#">Очистить фильтр</a>
</div>