<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block col-md-4 col-xl-3 ">
        <div class="site-footer__logo">
          <img class="d-none d-lg-block" src="images/logo3@2x.png" alt="">
          <p >Интернет-магазин электрики
            и освещения для дома и комфорта</p>
        </div>
        <div class="site-footer__info">Вся информация на сайте носит справочный характер и не является публичной офертой.</div>
      </div>
      <div class="col-3 d-none d-xl-block">
        <ul class="footer-menu">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Гарантия и возврат</a></li>
          <li><a href="#">Мастерская</a></li>
          <li><a href="#">Оптовикам</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="col-4 col-md-4 col-xl-3 d-none d-md-block">
        <div class="site-footer__address">
          <div class="site-footer__label">Адрес:</div>
          <p>г.Москва, ул. Полярная, д.31,
стр.1, эт.4, оф.402</p>
        </div>
        <div class="site-footer__sotial sotial-block">
          <a href="#">
            <img src="images/vk@2x.png" alt="">
          </a>
          <a href="#">
            <img src="images/inst@2x.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <div class="site-footer__shedule shedule-block">
          <div class="shedule-block__hour">Ежедневно с 9 до 21 Мск</div>
          <a href="tel:+74951433420" class="shedule-block__tel">8 (495) 143-34-20</a>
          <a href="https://wa.me/70990001122" class="shedule-block__whatsapp">Написать в WhatsApp</a>
        </div>
        <div class="site-footer__sotial site-footer__sotial_last sotial-block d-md-none">
          <a href="#">
            <img src="images/vk@2x.png" alt="">
          </a>
          <a href="#">
            <img src="images/inst@2x.png" alt="">
          </a>
        </div>
        <div class="site-footer__info d-md-none">Вся информация на сайте носит справочный характер и не является публичной офертой.</div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
  	<div class="row">
  	<div class="col-12 col-md-4 footer-bottom__left">
  		<p class="footer-bottom__copy">© Все права защищены, 2020</p>
  	</div>
  	<div class="col-12 col-md-4 footer-bottom__middle">
  		<a href="#" class="footer-bottom__polit">Политика конфиденциальности сайта</a>
  	</div>
  	<div class="col-12 col-md-4 footer-bottom__right">
  		<p class="footer-bottom__developer" >Разработка сайта - <a rel="external" href="https://web-do.ru/">Web Do</a></p>
  	</div>
  </div>
  </div>
</div>