<div class="ancor-panel top-area js-mobilemenu-panel">
  <div class="top-area__wrap">
  <div class="container top-area__header d-md-none">
    <div class="">
      <a href="#" class="top-area__catalog-link js-catalog-link">Каталог товаров</a>
      <a href="#" class="top-area__brands-link">Производители</a>
    </div>
  </div>
  <div class="ancor-panel__cont">
    <div class="container top-area__cont">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="top-area__logo-cont"><img src="images/logo-m@2x.png" alt="" class="logo"></div>
          <ul class="top-nav">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Гарантия и возврат</a></li>
            <li><a href="#"><img src="images/master@2x.png" alt="">Мастерская</a></li> 
            <li><a href="#">Оптовикам</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-2 col-xl-1 offset-xl-1">
          <div class="top-area__shedule shedule-block d-md-none">
            <div class="shedule-block__hour">Ежедневно с 9 до 21 Мск</div>
            <a href="tel:+74951433420" class="shedule-block__tel">8 (495) 143-34-20</a>
            <a href="https://wa.me/70990001122" class="shedule-block__whatsapp">Написать в WhatsApp</a>
          </div>
          <div class="sotial-block top-area__sotial">
            <a href=""><img src="images/vk@2x.png" alt=""></a>
            <a href=""><img src="images/inst@2x.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<header class="site-header">
  <div class="container">
  	<div class="row">
  	<div class="col-3 col-xl-2 d-md-none">
  		<div class="site-header__menu-button menu-button js-menu-button">
				<div class="menu-button__burger">
					<span class="menu-button__burger-line"></span>
				</div>
			</div>
  	</div>
    <div class="col-5 col-xl-2 d-md-none">
      <div class="site-header__logo-cont"><img src="images/logo-m@2x.png" alt="" class="logo"></div>
    </div>
    <div class="col-5  col-md-4 col-lg-3 col-xl-2 d-none d-md-block">
      <div class="site-header__logo-cont"><img src="images/logo@2x.png" alt="" class="logo"></div>
    </div>
    <div class="col-12 col-lg-3 d-none d-lg-block">
      <h1 class="site-header__title">Интернет-магазин электрики
        и освещения для дома и комфорта</h1>
    </div>
    <div class="col-12 col-md-5 col-lg-4 d-none d-md-block">
      <div class="site-header__shedule shedule-block">
        <div class="shedule-block__hour">Ежедневно с 9 до 21 Мск</div>
        <div class="shedule-block__tel">8 (495) 143-34-20</div>
        <a href="https://wa.me/70990001122" class="shedule-block__whatsapp">Написать в WhatsApp</a>
      </div>
    </div>
    <div class="col-4 col-md-2 offset-md-1 offset-lg-0 col-xl-3 site-header__right">
    	<div class="search-btn js-search-btn d-md-none">
      	<img width="16" height="16" src="images/search-ico@2x.png" alt="">
      </div>
      <a href="#" class="minicart">
        <span class="minicart__title">Корзина</span>
        <span class="minicart__text">5 товар (ов) - 15 243 р.</span>
        <span class="minicart__counter">5</span>
      </a>
      
      
    </div>
    <div class="search-cont col-12">      	
      	<div class="search-cont__panel">
      		<input type="" name="">
      	</div>
      </div>
    </div>
  </div>
</header>